@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');

body{
    margin: 0;
}

nav{
    border-bottom: 8px double #751a1a;
    background-color: #fdffec;
    padding: 1em;
}
nav img{
    max-width: 300px;
    position: absolute;
    margin-left: -5em;
    filter: brightness(.9);
    transition: all .2s ease;
}
nav ul{
    display: flex;
    justify-content: space-around;
}
nav a, nav li{
    text-decoration: none;
    list-style: none;
    font-family: "Sen";
    color: #751a1a;

    font-size: 1.2em;

    transition: scale .2s ease;
}
.linkscale:hover{
    scale: 110%;
    transition: scale .2s ease;
}
nav img:hover{
    scale: 105%;
    filter: brightness(1);
    transition: all .2s ease;
}

main{
    background: linear-gradient(#f2f2d5,#dbdbb8);
    display: grid;
    padding-bottom: 14em;
    justify-content: center;
}
.upper, .lower{
    width: 60%;
    margin: 0 auto;
}
h1{
    font-size: 3em;
    font-family: 'Balthazar';
    text-align: center;
}
h3{
    font-family: 'Sen';
    text-align: center;
    font-weight: lighter;
}
.lower{
    display: flex;
}
iframe{
    padding-right: 4em;
}
p{
    max-width: 50%;
    font-family: 'Sen';
    text-align: center;
}

footer{
    margin: -3em;
    padding: 1em;
    background-color: #751a1a;
    display: flex;
    justify-content: center;
}
footer p{
    text-decoration: none;
    list-style: none;
    font-family: "Sen";
    color: #ffffe6;
    font-size: 1.2em;
}

.hamburger{
    display: none;
}
@media (max-width: 1200px){
    .nav_big{
        display: none;
    }
    .hamburger{
        display:flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
    }
    .nav_small{
        display: block;
        position: absolute;
        right: 1%;
        top: 140px;
        background-color: #fdffec;
        border-bottom: 8px double #751a1a;
        border-left: 8px double #751a1a;
        border-right: 8px double #751a1a;
        z-index: 3;

        display: none;
    }
    .nav_small li{
        padding: 1em;
        max-width: max-content;
    }
    .nav_small li:hover{
        scale: 110%;
    }
    .logo{
        width: 1000px;
        position: static;
        margin: auto;
    }
    .menu_activate{
        background: url('../Assets/Icon_Menu.svg');
        width: 100px;
        height: 100px;
        transition: scale .1s ease-in-out;
    }
    .menu_activate:hover{
        scale: 105%;
        transition: scale .1s ease-in-out;
    }
    .menu_activate:active{
        scale: 95%;
        transition: scale .1s ease-in-out;
    }
    input{
        appearance: none;
    }
    .menu_activate:has(input:checked) + .nav_small{
        overflow: hidden;
        display: block;
    }
    .lower{
        display: block;
    }
    .lower p{
        max-width: 100%;
        height: 100%;
        font-size: 1.5em;
    }
    iframe{
        display: flex;
        justify-content: center;
        margin: auto;
        width: 100%;
    }
    footer, main{
        margin: 0;
    }
    footer p{
        width: 80%;
        text-align: center;
    }
    main{
        padding-bottom: 25em;
    }
}

@media (max-width: 600px) {
    .hamburger{
        display: grid;
        justify-content: center;
    }
    .menu_activate{
        margin: 0 auto;
    }
    .logo{
        width: 500px;
    }
    .nav_small{
        position: absolute;
        top: 200px;
        right: 0%;
        width: 100vw;
        border-left: none;
        border-right: none;
    }
    .nav_small li{
        padding: 1em;
        max-width: max-content;
        margin: 0 auto;
    }
    

}