@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');

body{
    margin: 0;
}

nav{
    border-bottom: 8px double #751a1a;
    background-color: #fdffec;
    padding: 1em;
}
nav img{
    max-width: 300px;
    position: absolute;
    margin-left: -5em;
    filter: brightness(.9);
    transition: all .2s ease;
}
nav ul{
    display: flex;
    justify-content: space-around;
}
nav a, nav li{
    text-decoration: none;
    list-style: none;
    font-family: "Sen";
    color: #751a1a;

    font-size: 1.2em;

    transition: scale .2s ease;
}
.linkscale:hover{
    scale: 110%;
    transition: scale .2s ease;
}
nav img:hover{
    scale: 105%;
    filter: brightness(1);
    transition: all .2s ease;
}

main{
    background: linear-gradient(#f2f2d5,#dbdbb8);
    display: grid;
    grid-template-columns: 60px 5fr 1fr;
    align-items: start;
    padding-bottom: 5em;
}
.sidenav{
    position: sticky;
    top: 150px;
    overflow: visible;
    grid-column-start: 1;
    grid-column-end: 2;
}
.menu{
    grid-column-start: 2;
    grid-column-end: 4;
}
.sidenav li, .sidenav a{
    text-decoration: none;
    text-align: left;
    list-style: none;
    font-family: "Sen";
    color: #751a1a;
    font-size: 1.2em;
    margin: .5em 0em .5em -1em;
    padding: .5em;
    width: max-content;
    transition: all .3s ease;
}
.sidenav li:hover{
    padding-left: 1em;
    background-color: #917659;
    color: #f2f2d5;
}


.showcase{
    display: block grid;
    justify-content: center;
    width: 100px;
    margin: auto;
}

.showcase_title{
    font-family: 'Balthazar';
    font-size: 2.5em;
    color: #ffffe6;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 100px;
    position: relative;
    top: 100px;
    background: #917659;
    border-radius: 20%;
    max-width: 400px;
    width: 100%;
    z-index: 1;
}
.image{
    width: 500px;
    height: 200px;
    border: solid 10px #917659;
    border-radius: 3em;
    transition: width .4s ease-in-out;
    z-index: 2;
}
.image:hover{
    width: 700px;
    transition: width .4s ease-in-out;
    position: relative;
    top: 0px;
}
.feat_text{
    padding: 1em;
    background-color: #917659;
    color: #ffffe6;
    width: 500px;
    opacity: 0%;
    transition: all .3s ease-in-out;
}
.image:hover  .feat_text{
    opacity: 100%;
    padding: 1em 1em 1em 5em;
    transition: all .3s ease-in-out
}
.image_app{
    background: url(../Assets/Food_Appetizer.jpg);
    background-size: cover;
    background-position: 10%;
}
.image_drink{
    background: url(../Assets/Food_Drink.jpg);
    background-size: cover;
    background-position: 0% 30%;
}
.image_breakfast{
    background: url(../Assets/Food_Breakfast.jpg);
    background-size: cover;
    background-position: 0% 30%;
}
.image_lunch{
    background: url(../Assets/Food_lunch.jpg);
    background-size: cover;
    background-position: 0% 20%;
}
.image_platters{
    background: url(../Assets/Food_Platters.jpg);
    background-size: cover;
    background-position: 0% 20%;
}
.image_dessert{
    background: url(../Assets/Food_Dessert.jpg);
    background-size: cover;
    background-position: 0% 60%;
}

.foods{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}
.menuitem{
    display: grid;
    grid-template-columns: 350px 0px 50px;
    grid-template-rows: 2.5em 5em;
    width: 40%;
    border-radius: 30px;
    padding: .5em;
}
h2{
  font-size: 1.5em;
  font-family: 'Sen';
  font-weight: lighter;
}
.foodname{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.price{
    color: #8a8a8a;
    text-align: right;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.description{
    border-top: solid 2px black;
    padding-top: .5em;
    font-family: 'Sen';
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

footer{
    margin: -3em;
    padding-top: 1em;
    background-color: #751a1a;
}
footer ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
footer li, footer a, footer p{
    text-decoration: none;
    list-style: none;
    font-family: "Sen";
    color: #ffffe6;
    font-size: 1.2em;
}

.hamburger{
    display: none;
}
@media (max-width: 1200px){
    .nav_big{
        display: none;
    }
    .hamburger{
        display:flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
    }
    .nav_small{
        display: block;
        position: absolute;
        right: 1%;
        top: 140px;
        background-color: #fdffec;
        border-bottom: 8px double #751a1a;
        border-left: 8px double #751a1a;
        border-right: 8px double #751a1a;
        z-index: 3;

        display: none;
    }
    .nav_small li{
        padding: 1em;
        max-width: max-content;
    }
    .nav_small li:hover{
        scale: 110%;
    }
    .logo{
        width: 1000px;
        position: static;
        margin: auto;
    }
    .menu_activate{
        background: url('../Assets/Icon_Menu.svg');
        width: 100px;
        height: 100px;
        transition: scale .1s ease-in-out;
    }
    .menu_activate:hover{
        scale: 105%;
        transition: scale .1s ease-in-out;
    }
    .menu_activate:active{
        scale: 95%;
        transition: scale .1s ease-in-out;
    }
    input{
        appearance: none;
    }
    .menu_activate:has(input:checked) + .nav_small{
        overflow: hidden;
        display: block;
    }
    .foods{
        display: grid;
        margin: 0 auto;
        width: 100%;
        flex-wrap: nowrap;
    }
    .image, .feat_text{
        display: none;
    }
    .showcase_title{
        padding: 1em;
        position: static;
        border-radius: 30px;
    }
    footer ul{
        width: 80%;
        justify-content: center;
    }
    footer li{
        font-size: 1em;
        padding: 1.5em;
        max-width: 200px;
    }
    footer a{
        padding: .5em;
        border: solid 3px #dbdbb8;
        border-radius: 2em;
    }
}
@media (max-width: 800px){
    .sidenav{
        display: none;
    }
}

@media (max-width: 600px) {
    .hamburger{
        display: grid;
        justify-content: center;
    }
    .menu_activate{
        margin: 0 auto;
    }
    .logo{
        width: 500px;
    }
    .nav_small{
        position: absolute;
        top: 200px;
        right: 0%;
        width: 100vw;
        border-left: none;
        border-right: none;
    }
    .nav_small li{
        padding: 1em;
        max-width: max-content;
        margin: 0 auto;
    }
    main{
        display: block;
    }
    .price{
        font-size: 1.3em;
    }

}